html {
    box-sizing:border-box;
    font-family:Garamond;
    font-size:1em;
    color: #5C2018;
  }
*{
    box-sizing: inherit;
 }

.show {
    display: block;
}

header{
    background-color: #4285F4;
    padding: 10px;
    border: solid 0.5px #F3E0DC;
    border-top: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    color: #F3E0DC;
    font-weight: bold;
}

h2 {
    padding: 0px;
    margin: 30px 0px 0px 0px;
    letter-spacing: 2px;
    color: #BC4639;
}

h3, h4, h5, h6 {
    font-size: 1.3em;
    padding: 0px;
    margin: 25px 0px 30px 0px;
    letter-spacing: 2px;
    color: #BC4639;
}

body {
    margin: 0px;
    background-color: #BC4639;
}

nav {
	display:none;
    clear: both;
    width: 100%;
	background-color: #5C2018;
    border: solid 0.5px white;
}

ul {
    list-style-type:square;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

ol {
    list-style-type:upper-roman;
    margin: 0px;
    padding: 0px 20px 0px 30px;
}

table{
    border-style:double;
    border-width: 1px;
    border-color: #5C2018;
    width:50%;
    background-color:#D4A59A;
}
td{
    border-style:solid;
    border-width:1px;
    background-color:#F3E0DC;
}

th {
    border-style:solid;
    border-width:1px;
    border-color:#5C2018;
    color: #F3E0DC;
    background-color: #BC4639;  
}

strong {
    color: #4285F4;
}

em {
    color: #BC4639;
    font-weight: bolder;
}

a:link {
    color: #5C2018;
    font-weight: bolder;
}

a:visited {
    color: #4a5c79; 
}

a:focus,
a:hover {
    color: #bd2fe9;
	text-decoration:none;
}

a:active {
    color: #BC4639;
}

footer {
    background-color: #4285F4;
    margin:0px;
    border-top: solid 1px white;
}

.footer-ul {
    list-style: none;
    display:flex;
    justify-content:space-evenly;
    border-top: solid 0.5px #F3E0DC;
    border-bottom: solid 0.5px #F3E0DC;
}

.footer-li{  
    display:block;
    display:flex;
    margin: 0px;
    padding: 10px;
    color: #5C2018;
    text-decoration: none;
}

.footer-h2 {
    text-align: center;
    margin: 0px;
    padding: 15px;
    color: #F3E0DC;
    align-self:center;
}

.social_a{
	text-decoration: none;
    display:block;
    display:flex;
	background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: left;
    background-position-y: center;
    padding: 15px 15px 15px 30px;   
    margin:0px;
}

.footer-li:visited,
.social_a:visited {
    color:#fad6d2;
}

.footer-li:focus,
.social_a:focus,
.footer-li:active,
.social_a:active,
.footer-li:hover,
.social_a:hover {
    background-color: #D4A59A;
    color: #BC4639;
}

.twitter{ 
    background-image: url("../images/twitter.svg");
}
.facebook{
    background-image: url("../images/facebook.svg");	
}
.instagram{
	background-image: url("../images/instagram.svg");	
}

.end-of-paragraph {
    margin: 0px;
}

.example_content_image {
    float: left;
    padding: 0px 15px 0px 0px;
}

.menu-icon {
    width: 45px;
    height: 30px;
    cursor: pointer; 
}

#logo-text {
    letter-spacing: 5px;
    font-family: 'Monaco';
}

#nav-ul{
    display: block;
    padding: 0px;
    margin: 1px;
    list-style: none;
    background-color: #5C2018;
}

#nav-ul a{
    display: block;
    color: #F3E0DC;
    text-decoration:none;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

#nav-ul a:hover {
    background-color:#4285F4;
}

#nav-ul a:focus {
    background-color:#4285F4;
}

#nav-ul .active {
    background-color:#D4A59A;
    color: #5C2018;
    font-weight: bold;
}

#logo {
    width: 40px;
    height: auto;   
}

#wrapper {
    padding: 0 50px 30px;
    background-color: #F3E0DC;
    max-width:1024px;
    min-height:100vh;
    margin:auto;

    /*  make flexbox container*/
    display: flex;
    flex-direction: column;
    
    border:solid 2px white;
    border-width:0px 2px;
}

#table-placement {
    display:block;
    display:flex;
    justify-content: center;
}

#page02-h1 {
    color: #4285F4;
    font-size: 2em;
}

#main-page03 {
    background-color: #e2c4bd;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 25px;
}



@media (min-width:820px) {
    h4, h5, h6  {
        color: #5C2018;
    }
    
    .subarticles {
        display:flex;
        justify-content: space-between;
        align-content: center;
        margin: 10px;
        padding: 15px;
        font-size: 0.9em;
    }
    
    .a-subarticle {
        border: solid 0.5px #5C2018;
        padding: 10px;
        margin: 5px;
        background-color: #D4A59A;
    }
}

@media (min-width:600px) {
    
    header {
        display: black;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 30px;
    }

    #logo-text {
        display:block;
        padding: 0px 0px 0px 12px;
        margin: 37px 0px 0px 0px;
    }
    
    nav {
        display: block;
    }

    .menu-icon {
        display: none;
    }

    #nav-ul{
        display: block;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        background-color: #5C2018;
        border: solid 0.5px white;
    }

    #nav-ul a {
        color: #F3E0DC;
        padding: 15px 25px 15px 25px;
        text-decoration:none;
    }

    #nav-ul a:hover {
        background-color:#4285F4;
    }

    #nav-ul .active {
        background-color:#D4A59A;
        color: #5C2018;
        font-weight: bold;
    }

    footer {
        font-size: 0.8em;
        display: block;
        display: flex;
        justify-content:space-evenly;
        padding:20px;
    }

    footer a:link {
        color:#5C2018;
    }

    .footer-ul {
        display:block;
        border-top: none;
        border-bottom: none;
        margin:0px;
        padding:0px;
        font-weight: bolder;
    }
    
    .footer-h2 {
        display:inline-block;
        align-self:flex-start;
        margin: 0px;
        padding: 0px 0px 0px 10px;
        color: #F3E0DC;
    }
       
    .social_a{
        padding: 10px 10px 10px 30px;   
        margin:0px;
    }

}

@media print{
    a[href^="#"]:after{
		content:" URL: (" attr(href) ") ";		
    }

    html, th, strong, em{
        color: black;
        background-color: white;
    }
    h1, h2, h3, h4, h5, h6 {
        color: black;
        page-break-after: avoid;
    }

    h5 {
        page-break-before: always;
    }

    nav, footer{
		display:none;
    }
    

}



